@media only screen and (min-width: 992px) {

    body {
        height: 100%;
        overflow: hidden;
    }

    h1 {
        position: relative;
        top: -650px;
        left: -5px;
        text-align: center;
        font-family: 'Kalam', cursive;
        color: #AA6C39;
        font-size: 40pt;
    }

    h3 {
        position: relative;
        top: -680px;
        text-align: center;
        font-family: 'Kalam', cursive;
        color: #AA6C39;
        font-size: 24pt;
    }

    .border {
        position: relative;
        top: 0px;
        left: 460px;
        width: 600px;
        height: 700px;
    }

    .photo-one {
        position: relative;
        width: 220px;
        height: 280px;
        top: -420px;
        left: -600px;
    }

    .photo-two {
        position: relative;
        width: 220px;
        height: 280px;
        top: 0px;
        left: -820px;
        transform: scaleY(-1);
    }

    .photo-three {
        position: relative;
        width: 220px;
        height: 280px;
        top: 0px;
        left: 240px;
        transform: scale(-1, -1)
    }

    .photo-four {
        position: relative;
        width: 220px;
        height: 280px;
        top: -420px;
        left: 15px;
        transform: scaleX(-1);
    }
    
    .a-one:link {
        text-decoration: none;
        position: relative;
        color: #AA6C39;
        font-size: 19px;
        top: -600px;
    }

    .a-one:visited {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 30%;
        left: 24.5%;
    }

    .a-one:hover {
        text-decoration: underline;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 30%;
        left: 24.5%;
    }

    .a-one:active {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 30%;
        left: 24.5%;
    }

    .a-two:link {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 30%;
        left: 40%;
    }

    .a-two:visited {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 30%;
        left: 40%;
    }

    .a-two:hover {
        text-decoration: underline;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 30%;
        left: 40%;
    }

    .a-two:active {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 30%;
        left: 40%;
    }

    .a-three:link {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 30%;
        left: 61.5%;
    }

    .a-three:visited {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 30%;
        left: 61.5%;
    }

    .a-three:active {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 30%;
        left: 61.5%;
    }

    .a-three:hover {
        text-decoration: underline;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 30%;
        left: 61.5%;
    }

    .a-four:link {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 100%;
        top: 13%;
        left: 39%;
    }

    .a-four:visited {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 100%;
        top: 13%;
        left: 39%;
    }

    .a-four:active {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 100%;
        top: 13%;
        left: 39%;
    }

    .a-four:hover {
        text-decoration: underline;
        position: absolute;
        color: #AA6C39;
        font-size: 100%;
        top: 13%;
        left: 39%;
    }
}
