@media screen and (max-width: 481px) {
    h1 {
        position: absolute;
        top: 15%;
        left: 26.5%;
        font-family: 'Kalam', cursive;
        color: #AA6C39;
        font-size: 150%;
    }

    h3 {
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        color: #AA6C39;
        font-size: 100%;
        top: 20%;
        left: 31%;
    }

    h4 {
        position: absolute;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: #AA6C39;
        font-size: 100%;
        top: 22.5%;
        left: 16%;
    }

    .border {
        position: absolute;
        display: block;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
    }

    .photo-one {
        position: absolute;
        width: 0%;
        height: 0%;
        top: 0%;
        left: 0%;
    }

    .photo-two {
        position: absolute;
        width: 0%;
        height: 0%;
        top: 0%;
        left: 0%;
        transform: scaleY(-1);
    }

    .photo-three {
        position: absolute;
        width: 0%;
        height: 0%;
        top: 0%;
        left: 0%;
        transform: scale(-1, -1)
    }

    .photo-four {
        position: absolute;
        width: 0%;
        height: 0%;
        top: 0%;
        left: 0%;
        transform: scaleX(-1);
    }

    .first-hr {
        position: absolute;
        height: 4px;
        width: 70%;
        background-color: #AA6C39;
        border: 0px;
        top: 27%;
        left: 16%
    }

    .second-hr {
        position: absolute;
        height: 4px;
        width: 75%;
        background-color: #AA6C39;
        border: 0px;
        top: 60%;
        left: 12%;
    }

    .parking-title {
        position: absolute;
        font-family: 'Kalam', cursive;
        font-size: 130%;
        color: #AA6C39;
        top: 33%;
        left: 30%;
    }

    .paragraph-one {
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        color: #AA6C39;
        top: 40%;
        left: 5%;
    }

    .lodging-title {
        position: absolute;
        font-family: 'Kalam', cursive;
        font-size: 130%;
        color: #AA6C39;
        top: 60%;
        left: 30%;
    }

    .paragraph-two {
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: #AA6C39;
        top: 66%;
        left: 5%;
    }
    
    .paragraph-three {
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        color: #AA6C39;
        top: 46%;
        left: 5%;
    }
    
    .paragraph-four {
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        color: #AA6C39;
        top: 49%;
        left: 5%;
    }
    
    .paragraph-five {
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        color: #AA6C39;
        top: 52%;
        left: 5%;
    }
    
    .paragraph-six {
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        color: #AA6C39;
        top: 70%;
        left: 5%;
    }
    
    .paragraph-seven {
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        color: #AA6C39;
        top: 74%;
        left: 5%;
    }

    .a-one:link {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 30%;
        left: 24.5%;
    }

    .a-one:visited {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 30%;
        left: 24.5%;
    }

    .a-one:hover {
        text-decoration: underline;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 30%;
        left: 24.5%;
    }

    .a-one:active {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 30%;
        left: 24.5%;
    }

    .a-two:link {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 30%;
        left: 40%;
    }

    .a-two:visited {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 30%;
        left: 40%;
    }

    .a-two:hover {
        text-decoration: underline;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 30%;
        left: 40%;
    }

    .a-two:active {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 30%;
        left: 40%;
    }

    .a-three:link {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 30%;
        left: 61.5%;
    }

    .a-three:visited {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 30%;
        left: 61.5%;
    }

    .a-three:active {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 30%;
        left: 61.5%;
    }

    .a-three:hover {
        text-decoration: underline;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 30%;
        left: 61.5%;
    }

    .a-four:link {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 100%;
        top: 13%;
        left: 39%;
    }

    .a-four:visited {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 100%;
        top: 13%;
        left: 39%;
    }

    .a-four:active {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 100%;
        top: 13%;
        left: 39%;
    }

    .a-four:hover {
        text-decoration: underline;
        position: absolute;
        color: #AA6C39;
        font-size: 100%;
        top: 13%;
        left: 39%;
    }

    .mini-hr-one {
        position: absolute;
        background-color: #AA6C39;
        width: 8%;
        height: 2px;
        transform: rotate(90deg);
        border: 0px;
        top: 30%;
        left: 34%;
    }

    .mini-hr-two {
        position: absolute;
        background-color: #AA6C39;
        width: 8%;
        height: 2px;
        transform: rotate(90deg);
        border: 0px;
        top: 30%;
        left: 55%;
    }
}

@media only screen and (min-width: 992px) {

    h1 {
        position: absolute;
        top: 12%;
        left: 40%;
        font-family: 'Kalam', cursive;
        color: #AA6C39;
        font-size: 240%;
    }

    h3 {
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        color: #AA6C39;
        font-size: 115%;
        top: 22%;
        left: 44%;
    }

    h4 {
        position: absolute;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: #AA6C39;
        font-size: 100%;
        top: 25%;
        left: 40.5%;
    }

    .border {
        position: absolute;
        display: block;
        top: 0%;
        left: 30%;
        width: 600px;
        height: 700px;
    }

    .photo-one {
        position: absolute;
        width: 220px;
        height: 280px;
        top: 1%;
        left: 1%;
    }

    .photo-two {
        position: absolute;
        width: 220px;
        height: 280px;
        top: 59%;
        left: 1%;
        transform: scaleY(-1);
    }

    .photo-three {
        position: absolute;
        width: 220px;
        height: 280px;
        top: 59%;
        left: 80%;
        transform: scale(-1, -1)
    }

    .photo-four {
        position: absolute;
        width: 220px;
        height: 280px;
        top: 1%;
        left: 80%;
        transform: scaleX(-1);
    }

    .first-hr {
        position: absolute;
        height: 4px;
        width: 40%;
        background-color: #AA6C39;
        border: 0px;
        top: 30%;
        left: 30%
    }

    .second-hr {
        position: absolute;
        height: 4px;
        width: 20%;
        background-color: #AA6C39;
        border: 0px;
        transform: rotate(90deg);
        top: 64%;
        left: 40%;
    }

    .parking-title {
        position: absolute;
        font-family: 'Kalam', cursive;
        font-size: 26px;
        color: #AA6C39;
        top: 40%;
        left: 10%;
    }

    .paragraph-one {
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        color: #AA6C39;
        top: 50%;
        left: 10%;
    }

    .lodging-title {
        position: absolute;
        font-family: 'Kalam', cursive;
        font-size: 200%;
        color: #AA6C39;
        top: 40%;
        left: 52%;
    }

    .paragraph-two {
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        color: #AA6C39;
        top: 50%;
        left: 52%;
    }

    .paragraph-three {
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        color: #AA6C39;
        top: 55%;
        left: 10%;
    }

    .paragraph-four {
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        color: #AA6C39;
        top: 60%;
        left: 10%;
    }

    .paragraph-five {
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        color: #AA6C39;
        top: 65%;
        left: 10%;
    }

    .paragraph-six {
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        color: #AA6C39;
        top: 55%;
        left: 52%;
    }

    .paragraph-seven {
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        color: #AA6C39;
        top: 60%;
        left: 52%;
    }

    .a-one:link {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 33%;
        left: 42.6%;
    }

    .a-one:visited {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 33%;
        left: 42.6%;
    }

    .a-one:hover {
        text-decoration: underline;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 33%;
        left: 42.6%;
    }

    .a-one:active {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 33%;
        left: 42.6%;
    }

    .a-two:link {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 33%;
        left: 48%;
    }

    .a-two:visited {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 33%;
        left: 48%;
    }

    .a-two:hover {
        text-decoration: underline;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 33%;
        left: 48%;
    }

    .a-two:active {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 33%;
        left: 48%;
    }

    .a-three:link {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 33%;
        left: 55%;
    }

    .a-three:visited {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 33%;
        left: 55%;
    }

    .a-three:active {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 33%;
        left: 55%;
    }

    .a-three:hover {
        text-decoration: underline;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 33%;
        left: 55%;
    }

    .a-four:link {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 13%;
        left: 16.5%;
    }

    .a-four:visited {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 13%;
        left: 16.5%;
    }

    .a-four:active {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 13%;
        left: 16.5%;
    }

    .a-four:hover {
        text-decoration: underline;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 13%;
        left: 16.5%;
    }

    .mini-hr-one {
        position: absolute;
        background-color: #AA6C39;
        width: 2%;
        height: 2px;
        transform: rotate(90deg);
        border: 0px;
        top: 33%;
        left: 45.8%;
    }

    .mini-hr-two {
        position: absolute;
        background-color: #AA6C39;
        width: 2%;
        height: 2px;
        transform: rotate(90deg);
        border: 0px;
        top: 33%;
        left: 52.8%;
    }
}
