@media only screen and (min-width: 992px) {

    body {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    h1 {
        position: relative;
        top: -650px;
        left: -5px;
        text-align: center;
        font-family: 'Kalam', cursive;
        color: #AA6C39;
        font-size: 40pt;
    }

    h3 {
        position: relative;
        top: -680px;
        text-align: center;
        font-family: 'Kalam', cursive;
        color: #AA6C39;
        font-size: 24pt;
    }

    .border {
        position: relative;
        top: 0px;
        left: 460px;
        width: 600px;
        height: 700px;
    }

    .photo-one {
        position: relative;
        width: 220px;
        height: 280px;
        top: -420px;
        left: -600px;
    }

    .photo-two {
        position: relative;
        width: 220px;
        height: 280px;
        top: 0px;
        left: -820px;
        transform: scaleY(-1);
    }

    .photo-three {
        position: relative;
        width: 220px;
        height: 280px;
        top: 0px;
        left: 240px;
        transform: scale(-1, -1)
    }

    .photo-four {
        position: relative;
        width: 220px;
        height: 280px;
        top: -420px;
        left: 15px;
        transform: scaleX(-1);
    }

    hr {
        position: relative;
        background-color: #AA6C39;
        border: 0px;
        height: 4px;
        width: 300px;
        top: -700px;
    }

    .input-first-name {
        position: relative;
        outline: none;
        width: 160px;
        top: -712px;
        left: 585px;
        border: 2px solid #AA6C39;
    }

    .input-last-name {
        position: relative;
        outline: none;
        width: 160px;
        top: -712px;
        left: 503px;
        border: 2px solid #AA6C39;
    }

    .first-name {
        position: relative;
        font-size: 18px;
        top: -685px;
        left: 415px;
        color: #AA6C39;
    }

    .last-name {
        position: relative;
        font-size: 18px;
        top: -685px;
        left: 332px;
        color: #AA6C39;
    }

    .check {
        position: relative;
        top: -530px;
        left: 300px;
    }

    .check-label {
        position: relative;
        top: -554px;
        left: 535px;
        font-size: 18px;
        color: #AA6C39;
    }

    .going-button {
        position: relative;
        top: -650px;
        left: 318px;
        outline: none;
        border: #AA6C39 2px solid;
    }

    .going-label {
        position: relative;
        top: -650px;
        left: 40px;
        font-size: 18px;
        color: #AA6C39;
    }

    .email-text {
        position: relative;
        top: -615px;
        left: 705px;
        outline: none;
        border: 2px solid #AA6C39;
        width: 210px;
    }

    .email-label {
        position: relative;
        top: -590px;
        left: 484px;
        font-size: 18px;
        color: #AA6C39;
    }

    .submit-button {
        position: relative;
        top: -420px;
        left: 590px;
        font-size: 18px;
    }

    .a-one:link {
        text-decoration: none;
        position: relative;
        color: #AA6C39;
        font-size: 19px;
        top: -935px;
        left: 645px;
    }

    .a-one:hover {
        text-decoration: underline;
        position: relative;
        color: #AA6C39;
        font-size: 19px;
        top: -935px;
        left: 645px;
    }

    .a-one:visited {
        text-decoration: underline;
        position: relative;
        color: #AA6C39;
        font-size: 19px;
        top: -935px;
        left: 645px;
    }

    .a-one:active {
        text-decoration: none;
        position: relative;
        color: #AA6C39;
        font-size: 19px;
        top: -935px;
        left: 645px;
    }

    .a-two:link {
        text-decoration: none;
        position: relative;
        color: #AA6C39;
        font-size: 19px;
        top: -935px;
        left: 665px;
    }

    .a-two:visited {
        text-decoration: none;
        position: relative;
        color: #AA6C39;
        font-size: 19px;
        top: -935px;
        left: 665px;
    }

    .a-two:hover {
        text-decoration: underline;
        position: relative;
        color: #AA6C39;
        font-size: 19px;
        top: -935px;
        left: 665px;
    }

    .a-two:active {
        text-decoration: none;
        position: relative;
        color: #AA6C39;
        font-size: 19px;
        top: -935px;
        left: 665px;
    }

    .a-three:link {
        text-decoration: none;
        position: relative;
        color: #AA6C39;
        font-size: 19px;
        top: -935px;
        left: 685px;
    }

    .a-three:visited {
        text-decoration: none;
        position: relative;
        color: #AA6C39;
        font-size: 19px;
        top: -935px;
        left: 685px;
    }

    .a-three:hover {
        text-decoration: underline;
        position: relative;
        color: #AA6C39;
        font-size: 19px;
        top: -935px;
        left: 685px;
    }

    .a-three:active {
        text-decoration: none;
        position: relative;
        color: #AA6C39;
        font-size: 19px;
        top: -935px;
        left: 685px;
    }

    .a-four:link {
        text-decoration: none;
        position: relative;
        color: #AA6C39;
        font-size: 19px;
        top: -1082px;
        left: 200px;
    }

    .a-four:visited {
        text-decoration: none;
        position: relative;
        color: #AA6C39;
        font-size: 19px;
        top: -1082px;
        left: 200px;
    }

    .a-four:active {
        text-decoration: none;
        position: relative;
        color: #AA6C39;
        font-size: 19px;
        top: -1082px;
        left: 200px;
    }

    .a-four:hover {
        text-decoration: underline;
        position: relative;
        color: #AA6C39;
        font-size: 19px;
        top: -1082px;
        left: 200px;
    }

    .first-vert-line {
        position: relative;
        background-color: #AA6C39;
        width: 30px;
        height: 2px;
        border: 0px;
        transform: rotate(90deg);
        right: 36px;
        top: -955px;
    }

    .second-vert-line {
        position: relative;
        background-color: #AA6C39;
        width: 30px;
        height: 2px;
        border: 0px;
        transform: rotate(90deg);
        right: -31px;
        top: -965px;
    }

    .guest-selection {
        position: relative;
        top: -618px;
        left: 90px;
        outline: none;
        border: #AA6C39 2px solid;
    }

    .guest-sel-label {
        position: relative;
        top: -615px;
        left: -188px;
        font-size: 18px;
        color: #AA6C39;
    }

    .input-guest-first {
        position: relative;
        outline: none;
        width: 160px;
        top: -580px;
        left: -445px;
        border: 2px solid #AA6C39;
    }

    .input-guest-last {
        position: relative;
        outline: none;
        width: 160px;
        top: -580px;
        left: -570px;
        border: 2px solid #AA6C39;
    }

    .guest-first-name {
        position: relative;
        font-size: 18px;
        top: -555px;
        left: -615px;
        color: #AA6C39;
    }

    .guest-last-name {
        position: relative;
        font-size: 18px;
        top: -580px;
        left: 772px;
        color: #AA6C39;
    }

}

@media screen and (max-width: 481px) {
    body {
        height: 100%;
        overflow: hidden;
    }

    h1 {
        position: relative;
        top: 6%;
        text-align: center;
        left: -0.5%;
        font-family: 'Kalam', cursive;
        color: #AA6C39;
        font-size: 240%;
    }

    h3 {
        position: relative;
        text-align: center;
        top: 2%;
        left: -0.5%;
        font-family: 'Kalam', cursive;
        color: #AA6C39;
        font-size: 140%;
    }

    .border {
        position: absolute;
        top: 0%;
        left: -0.5%;
        width: 100%;
        height: 100%;
    }

    .photo-one {
        position: relative;
        width: 0%;
        height: 0%;
        top: -420px;
        left: -600px;
    }

    .photo-two {
        position: relative;
        width: 0%;
        height: 0%;
        top: 0px;
        left: -820px;
        transform: scaleY(-1);
    }

    .photo-three {
        position: relative;
        width: 0%;
        height: 0%;
        top: 0px;
        left: 240px;
        transform: scale(-1, -1)
    }

    .photo-four {
        position: relative;
        width: 0%;
        height: 0%;
        top: -420px;
        left: 15px;
        transform: scaleX(-1);
    }

    hr {
        position: relative;
        background-color: #AA6C39;
        border: 0px;
        height: .5%;
        width: 40%;
        top: 1%;
    }

    .input-first-name {
        position: relative;
        outline: none;
        width: 30%;
        top: 3%;
        left: 14%;
        border: 0.5% solid #AA6C39;
    }

    .input-last-name {
        position: relative;
        outline: none;
        width: 30%;
        top: 3%;
        left: 1%;
        border: 0.5% solid #AA6C39;
    }

    .first-name {
        position: relative;
        font-size: 18px;
        top: -685px;
        left: -163px;
        color: #AA6C39;
    }

    .last-name {
        position: relative;
        font-size: 18px;
        top: -713px;
        left: 35px;
        color: #AA6C39;
    }

    .check {
        position: relative;
        top: -660px;
        left: -125px;
    }

    .check-label {
        position: relative;
        top: -685px;
        left: 115px;
        font-size: 18px;
        color: #AA6C39;
    }

    .going-button {
        position: relative;
        top: -680px;
        left: 15px;
        outline: none;
        border: #AA6C39 2px solid;
    }

    .going-label {
        position: relative;
        white-space: nowrap;
        top: -700px;
        left: 55px;
        font-size: 18px;
        color: #AA6C39;
    }

    .email-text {
        position: relative;
        top: -655px;
        left: 25px;
        outline: none;
        border: 2px solid #AA6C39;
        width: 210px;
    }

    .email-label {
        position: relative;
        top: -630px;
        left: -205px;
        font-size: 18px;
        color: #AA6C39;
    }

    .submit-button {
        position: relative;
        top: -520px;
        left: 35px;
        font-size: 12px;
    }

    .a-one:link {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 21%;
        left: 25.5%;
    }

    .a-one:hover {
        text-decoration: underline;
        position: relative;
        color: #AA6C39;
        font-size: 19px;
        top: -1045px;
        left: 90px;
    }

    .a-one:visited {
        text-decoration: underline;
        position: relative;
        color: #AA6C39;
        font-size: 19px;
        top: -1045px;
        left: 90px;
    }

    .a-one:active {
        text-decoration: none;
        position: relative;
        color: #AA6C39;
        font-size: 19px;
        top: -1045px;
        left: 90px;
    }

    .a-two:link {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 21%;
        left: 44.5%;
    }

    .a-two:visited {
        text-decoration: none;
        position: relative;
        color: #AA6C39;
        font-size: 19px;
        top: -1045px;
        left: 110px;
    }

    .a-two:hover {
        text-decoration: underline;
        position: relative;
        color: #AA6C39;
        font-size: 19px;
        top: -1045px;
        left: 110px;
    }

    .a-two:active {
        text-decoration: none;
        position: relative;
        color: #AA6C39;
        font-size: 19px;
        top: -1045px;
        left: 110px;
    }

    .a-three:link {
        text-decoration: none;
        position: absolute;
        color: #AA6C39;
        font-size: 120%;
        top: 21%;
        left: 57.5%;
    }

    .a-three:visited {
        text-decoration: none;
        position: relative;
        color: #AA6C39;
        font-size: 19px;
        top: -1045px;
        left: 130px;
    }

    .a-three:hover {
        text-decoration: underline;
        position: relative;
        color: #AA6C39;
        font-size: 19px;
        top: -1045px;
        left: 130px;
    }

    .a-three:active {
        text-decoration: none;
        position: relative;
        color: #AA6C39;
        font-size: 19px;
        top: -1045px;
        left: 130px;
    }

    .a-four:link {
        text-decoration: none;
        position: relative;
        color: #AA6C39;
        font-size: 19px;
        top: -1205px;
        left: 150px;
    }

    .a-four:visited {
        text-decoration: none;
        position: relative;
        color: #AA6C39;
        font-size: 19px;
        top: -1205px;
        left: 150px;
    }

    .a-four:active {
        text-decoration: none;
        position: relative;
        color: #AA6C39;
        font-size: 19px;
        top: -1205px;
        left: 150px;
    }

    .a-four:hover {
        text-decoration: underline;
        position: relative;
        color: #AA6C39;
        font-size: 19px;
        top: -1205px;
        left: 150px;
    }

    .first-vert-line {
        position: absolute;
        background-color: #AA6C39;
        width: 6%;
        height: 0.3%;
        border: 0px;
        transform: rotate(90deg);
        right: 40.5%;
        top: 21.3%;
    }

    .second-vert-line {
        position: absolute;
        background-color: #AA6C39;
        width: 6%;
        height: 0.3%;
        border: 0px;
        transform: rotate(90deg);
        right: 54%;
        top: 21.3%;
    }

    .guest-selection {
        position: relative;
        top: -678px;
        left: 108px;
        outline: none;
        border: #AA6C39 2px solid;
    }

    .guest-sel-label {
        position: relative;
        white-space: nowrap;
        top: -695px;
        left: 55px;
        font-size: 18px;
        color: #AA6C39;
    }

    .input-guest-first {
        position: relative;
        outline: none;
        width: 160px;
        top: -665px;
        left: -210px;
        border: 2px solid #AA6C39;
    }

    .input-guest-last {
        position: relative;
        outline: none;
        width: 160px;
        top: -690px;
        left: 75px;
        border: 2px solid #AA6C39;
    }

    .guest-first-name {
        position: relative;
        font-size: 18px;
        top: -665px;
        left: 15px;
        color: #AA6C39;
    }

    .guest-last-name {
        position: relative;
        white-space: nowrap;
        font-size: 18px;
        top: -690px;
        left: 215px;
        color: #AA6C39;
    }
}
